@charset "utf-8";
/* CSS Document */
body {
	font-family:"微软雅黑", "宋体";
	color:#515151;
	font-size:12px; 
}
body, html,#allmap1,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;}
#l-map{height:100%;width:78%;float:left;border-right:2px solid #bcbcbc;}
#r-result{height:80%;width:20%;float:left;}
/*#btnok{height:20%;width:20%;float:left;}*/
#allmap .BMap_pop .BMap_bubble_content, #allmap1 .BMap_pop .BMap_bubble_content{color:#915833;height:60px;font-size:13px;line-height:21px; /*width:300px!important;*/
	 overflow:hidden;	margin-top:6px;
	 word-wrap:break; word-break:break-all; text-overflow: ellipsis; overflow:hidden;}
.map_search{ margin-bottom:10px; }
.map_star{ float:left; margin-right:10px;}
.mapsearch{ width:760px; border:1px solid #f8cfa5; padding:2px; margin-bottom:10px; background-color:#fff6ec; padding-left:10px;}
#allmap{ width:772px; border:1px solid #f8cfa5; height:235px; overflow:hidden;}
#allmap1{ width:775px; border:1px solid #f8cfa5; height:500px; overflow:hidden; margin-bottom:10px;}
#l-map{ width:300px; border:1px solid #f8cfa5; height:235px; overflow:hidden;}
.hx{width:772px; border-top:1px solid #f8cfa5; height:1px; position: absolute;bottom:-1px; z-index:1000000}
.btn2_2, .btn2_4 {
	background:url("../image/btn2.gif");
	height:25px;
	border:none;
	cursor:pointer
}
.btn2_2 {
	width:54px;
	background-position:0px 0px
}
.btn2_4 {
	width:76px;
	background-position:0px -30px
}
.add{ margin-left:30px; margin-top:5px;}
.add_text{ color:#333; font-size:14px; text-align:center; margin-bottom:10px; margin-top:5px;}
#r-result2{  float:left; padding-top:12px;*padding-top:0px;}
.add h3{ float:left; font-size:12px; font-weight:bold}
.add_btn{ margin-top:5px; width:300px; text-align:center; clear:both;}