.Wdate{
	border:#999 1px solid;
	height:20px;
	background:#fff url(http://resource.uninforun.com/image/389/2/datetime/datePicker.gif) no-repeat right;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}